body {
    font-family: Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color:pink;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}
input {
    width: 80%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:aqua;
    color:black;
    font-weight:bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
}

#result {
    margin-top: 20px;
}